{
    "parser": "babel-eslint",
    "extends": "airbnb",
    "env": {
      "browser": true,
      "jest": true
    },
    "rules": {
      "semi": [2, "never"],
      "import/no-named-as-default": 0,
      "import/no-extraneous-dependencies": [
        "error",
        {
          "devDependencies": true,
          "optionalDependencies": false,
          "peerDependencies": false
        }
      ],
      "react/jsx-filename-extension": [
        1,
        {
          "extensions": [
            ".js"
          ]
        }
      ]
    }
  }
